@model ExtraFormModel

@{
    ViewData["Title"] = "Yeni Ürün Ekle";
    ViewData["Heading"] = "Yeni Ürün Ekle";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" autocomplete="off" class="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceToBuy" class="control-label"></label>
                <input asp-for="PriceToBuy" class="form-control" />
                <span asp-validation-for="PriceToBuy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceToSell" class="control-label"></label>
                <input asp-for="PriceToSell" class="form-control" />
                <span asp-validation-for="PriceToSell" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Ürünü Oluştur" class="btn btn-primary waves-effect waves-light" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
