<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="footer-links d-none d-sm-block">
                    <a asp-area="" asp-controller="Kurs" asp-action="Index">Kurslar</a>
                    <a asp-area="" asp-controller="Ogrenci" asp-action="Index">Öğrenciler</a>
                    <a asp-area="" asp-controller="Kayit" asp-action="Index">Kurs Kayıtları</a>
                    <a asp-area="" asp-controller="Odeme" asp-action="Index">Kurs Ödemeleri</a>
                    <a asp-area="" asp-controller="Sales" asp-action="Index">Satışlar</a>
                </div>
            </div>
            <div class="col-md-6 text-md-right">
                &copy; 2019 - @ViewData["CompanyName"]
            </div>

        </div>
    </div>
</footer>