@model DiscountViewModel

@{
    ViewData["Title"] = "İndirimi Sil";
    ViewData["Heading"] = "Silmek istediğinize emin misiniz?";
}

<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AmountOfDiscount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AmountOfDiscount)
        </dd>
    </dl>

    <form asp-action="Delete" class="form">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-primary waves-effect waves-light" /> |
        <a asp-action="Index">Listeye dön</a>
    </form>
</div>
