<ul>
    <li><a asp-area="" asp-controller="Rapor" asp-action="Gelen">Gelen Para Raporu</a></li>
    <li><a asp-area="" asp-controller="Rapor" asp-action="Ayrilanlar">Ayrılan Öğrenciler</a></li>
</ul>