@{ 
    ViewData["Heading"] = "Yetki hatası";
}

<div class="card-box col-md-5">
        <div class="card">
            <img src="~/images/accessdenied.jpg" class="img-fluid" alt="work-thumbnail">
        </div>
</div>



